Section A

In [ ]:
#Question 1

print("Hello Python")

In [ ]:
#Question2
a=int(input("Enter the 1st number="))
b=int(input("Enter the 2nd number="))
Add=a+b
Div=a/b
print("Addition of 1st and 2nd number",Add)
print("Division of 1st and 2nd number",Div)

In [ ]:
#Question 3
base=int(input("Enter the base value="))
height=int(input("Enter the height value="))
area=0.5*base*height
print("Area of Triangle is ",area)

In [2]:
#Question 4
x = int(input("Enter the X value:"))
y = int(input("Enter the Y value:"))
 
temp = x
x = y
y = temp
 
print("Value of x:", x)
print("Value of y:", y)

Enter the X value:50
Enter the Y value:20
Value of x: 20
Value of y: 50

In [ ]:
#Question No.5
import random
a=random.random()
print("")

#Section b

In [ ]:
#Question 1
km=int(input("Enter the kilometer value:"))
miles=0.621*km
print(km,"Kilometers =",miles,"Miles" )

In [ ]:
#Question 2
Celsius=int(input("Enter the Celsius Value:"))
Fahrenheit=(Celsius*1.8)+32
print(Celsius,"Celsius =",Fahrenheit,"Fahrenheit")

In [ ]:
#Question 3
import calendar
yyyy=int(input("Enter the year (yyyy):"))
mm=int(input("Enter the month (mm): "))
print(calendar.month(yyyy, mm))

In [4]:
#Question 5

x = int(input("Enter the X value:"))
y = int(input("Enter the Y value:"))
x,y=y,x
print("X=",x)
print("Y=",y)

Enter the X value:50
Enter the Y value:10
X= 10
Y= 50

Section C

In [ ]:
#Question 1
num=int(input("Enter the value:"))
if num>0:
  print("Number is positive")
elif num<0:
  print("Number is negative")
else:
 print("Number is zero")

In [ ]:
#Question 2
num=int(input("Enter the value="))
if num%2==0:
  print("The number is Even")
else:
  print("The number is Odd")

Section D

In [5]:
#Question 1
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 10
The factorial of 10 is 3628800

In [ ]:
#Question 2
num = int(input("Display multiplication table of? "))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

In [ ]:
#Question 3
nterm=int (input("Enter the terms to be printed:"))
n1=1
count=0
if nterm<=0:
  print("Please enter a positive integer, the given number is not valid")
elif nterm==1:
  print ("The Fibonacci sequence of the number upto:",nterm, ":")
  print (n1)
else:
    print ("The Fibonacci sequence of the number is:")
while count <nterm:
  print (n1)
  nth=n1+n2
  n1=n2
  n2=nth 
  count +=1

In [ ]:
#question 6
num=int(input("Enter the natural number:"))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Section F

In [ ]:
#Quesion 1
Numeric= [12, 8, 9, 2, 5]
sum=sum(Numericlist)
print(list)
print("sum of list: ",sum)

In [ ]:
#Question3
print(list)
smallest=min(list)
print("Smallest number in the list",smallest)

In [ ]:
#Question 4
print(list)
largest=max(list)
print("Largest number  in the list",largest)

In [ ]:
#Question5
 
# print second maximum element using sorted() method
print("Second largest element is:", sorted(list)[-2])

In [ ]:
#Question7
print(list)
for num in list:
  if num%2==0:
    print(num,end=" ")

In [ ]:
#Question8
print(list)
for num in list:
  if num%2==1:
    print(num,end=" ")

In [ ]:

#Question9
def cloning(List):
 list=[2,4,6,89,7]
List=cloning(list)
print("Before cloning",list)
print('After cloning',List)