NAME- SHREYAS HUNDEKAR
ROLL NO. 29
DIV A / A2 BATCH
BRANCH- EXTC / SE

In [ ]:

#1
class vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = vehicle(120,20 )
print(car.max_speed, car.mileage)

#2
class vehicle:
    pass
#3

class vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity


class Bus(vehicle):
    pass
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def bus_seating_capacity(self, capacity):
        return capacity

class Bus(Vehicle):
    
    def seating_capacity(self, capacity=50):
        return super().bus_seating_capacity(capacity=50)
bus = Bus("Tesla", 180, 20)
print(bus.seating_capacity())
50
class vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def busfare(self):
        return self.capacity * 100

class Bus(vehicle):
    def busfare(self):
        amount = super().busfare()
        amount += amount * 10 / 100
        return amount

bus = Bus("Tesla", 15, 50)
print("Total Bus fare is:", bus.busfare())
Total Bus fare is: 5500.0

In [ ]:
#1
class vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = vehicle(100,85 )
print(car.max_speed, car.mileage)

100 85

In [ ]:
#2
class vehicle:
    pass

In [ ]:
#3

class vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity


class Bus(vehicle):
    pass

In [ ]:
#4
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def bus_seating_capacity(self, capacity):
        return capacity

class Bus(Vehicle):
    
    def seating_capacity(self, capacity=70):
        return super().bus_seating_capacity(capacity=70)
bus = Bus("Mercedes", 100,50)
print(bus.seating_capacity())

70

In [ ]:
class vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def busfare(self):
        return self.capacity * 100

class Bus(vehicle):
    def busfare(self):
        amount = super().busfare()
        amount += amount * 10 / 100
        return amount

bus = Bus("Mercedes", 20, 70)
print("Total Bus fare is:", bus.busfare())

Total Bus fare is: 7700.0